/*Searchbar*/
.searchbar {
    max-height: 2em;
    display: flex;
    align-items: center;
    background: #121212; /* Dark background for futuristic vibe */
    border-radius: 30px; /* Rounded edges */
    max-width: 100%;
    }

  .searchbar input[type="text"] {
    width: 100%;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem; /* Adjust based on preference */
    font-weight: bold;
    background: linear-gradient(145deg, #232323, #131313); /* Subtle gradient */
    color: #fcfffe; /* Futuristic font color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    transition: background 0.3s ease-in-out; /* Smooth transition for hover effect */
  }

  .searchbar input[type="text"]:hover, form#search input[type="text"]:focus {
    background: linear-gradient(145deg, #2b2b2b, #1a1a1a); /* Darker gradient on hover/focus */
  }

  .searchbar input[type="submit"] {
    visibility: hidden; /* Keep your hidden submit button */
  }

  /*Containers*/
  .container {
      display: flex; /* Align columns side by side */
      flex-wrap: wrap;
      border-radius: 20px;
    }
    .column {
      flex: 1; /* Each column takes equal width */
      padding: 10px; /* Spacing inside each column */
    }
    .center-div {
      margin-bottom: 10px; /* Spacing between child divs */
      background-color: rgba(211, 211, 211, 0); /* Visual distinction */
      padding: auto; /* Padding inside child divs */
      text-align: center; /* Centering text inside child divs */
      min-width: 40%;
    }
  .side-div {
      margin-bottom: 10px; /* Spacing between child divs */
      background-color: rgba(211, 211, 211, 0); /* Visual distinction */
      padding: auto; /* Padding inside child divs */
      text-align: center; /* Centering text inside child divs */
        min-width: 30%;
    }
    /* CSS styles for the iframe */
    #globe-iframe {
      width: 99%;
      height: 300px;
      border: none; /* Remove iframe border */
      }